.input-group {
  display:flex;
  margin-bottom: $m-size;
  flex-direction: column;
  @media (min-width: $desktop-breakpoint){
    flex-direction: row;
    margin-bottom: $l-size;
  }
}

.input-group__item {
  margin-left: $s-size;
  @media (min-width: $desktop-breakpoint){
    flex-direction: row;
    margin: 0 $l-size 0 0;
  }
}

.input-text {
  border: 1px solid #cacccd;
  height:50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.select {
  @extend .input-text; 
}

.textarea {
  @extend .input-text;
  height: 10rem;
}